header {
  overflow: hidden;
}

body,
.navbar {
  background: linear-gradient(
    45deg,
    rgba(246, 255, 159, 1) 0%,
    rgba(255, 188, 108, 1) 70%,
    rgba(251, 128, 49, 1) 100%
  );
  
  background-size: 400%;
  background-position: left;
  animation: bg-animation 5s infinite alternate;
  overflow: auto;
}
::-webkit-scrollbar{
  width:15px;
  
}
::-webkit-scrollbar-thumb{
  background-color: #ffcd60;
  box-shadow: inset 2px 2px 3px rgba(245, 245, 245, 0.377),
              2px 2px 3px rgba(15, 15, 15, 0.568);
  border-radius: 30px;
}
::-webkit-scrollbar-track{
  border-radius: 30px;
  background-color: #dddddd;
  box-shadow: inset 0 0 2px rgba(8, 8, 8, 0.185);
}
form{
  margin:0;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center
    url("https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg");
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}
.form-control:hover {
  border: grey 1px solid;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in;
}
.card:hover {
  transform: scale(1.05);
}

.card img {
  padding-top: 1px;
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.keyword {
  font-weight: normal;
  color: #666666;
}

.card:hover > .card-body span .star {
  
  animation: spin 3s infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 992px) {
  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .card img {
    height: auto;
  }
}
